{% extends "_layout" %}
{% set title = entry.type.name %}
{% block content %}

    <div class="container mx-auto">
        <div class="projects">
            {% if entry.bannerblocks is defined and entry.bannerblocks|length %}
                {% include "partials/_bannerblocks.twig" with { block: entry.bannerblocks.all() } %}
            {% endif %}

            {% if entry.contentblocks is defined and entry.contentblocks|length %}
                {% include "partials/_contentblocks.twig" with { block: entry.contentblocks.all() } %}
            {% endif %}



        </div>
    </div>
{% endblock %}