{% extends "_layout" %}
{% set title = entry.type.name %}
{% block content %}

    <div class="container mx-auto">
        <div class="projects">
            {% if entry.bannerblocks is defined and entry.bannerblocks|length %}
                {% include "partials/_bannerblocks.twig" with { block: entry.bannerblocks.all() } %}
            {% endif %}

            {% if entry.intro %}
                {% set introBlock = entry.intro.one() %}

                {% if introBlock %}
                    <section class="intro-block py-12">
                        <div class="container mx-auto text-center">
                            <h2 class="text-4xl font-extrabold">
                                {{ introBlock.title }}
                            </h2>

                            <div class="text-lg text-gray-600 mt-4">
                                {{ introBlock.body }}
                            </div>

                            {% if introBlock.ctaButton %}
                                <a href="{{ introBlock.ctaButton }}" class="inline-block bg-black text-white font-semibold py-2 px-6 rounded shadow hover:bg-gray-800 transition">
                                    {{ introBlock.ctaButton.label ?? 'Learn More' }}
                                </a>
                            {% endif %}
                        </div>
                    </section>
                {% endif %}


            {% endif %}

            {% if entry.contentblocks is defined and entry.contentblocks|length %}
                {% include "partials/_contentblocks.twig" with { block: entry.contentblocks.all() } %}
            {% endif %}



        </div>
    </div>
{% endblock %}