# Vite
dist

# Sass
*.sassc
.sass-cache/*
.sass-cache
*.css.map

# Javascript
*.js.map

# OS Files
.DS_Store
*.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Craft CMS
cpresources
vendor
.env
.env.*.dev
*.log
storage/*
!storage/rebrand
license.key
license.key.*

# Node / npm
node_modules/

# Caching
web/cache
public/cache
public_html/cache
httpdocs/cache
cache/*


# Asset Source Folders
web/cpresources/
public/assets
public_html/assets
httpdocs/assets

# Log files
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files

.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.ddev/.global_commands/
web/uploads
web/dist
