@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles.css */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


body {
    color: #000;
}

#topnav {
    background-color: #FBF7CC;
}
#topnav a{
    color: #0a0d0f;
}

h2{
    color: #0a0d0f;
}



header{
}

footer {
    background: #0a0d0f;
    background-size: 50%;
}

#main-menu .active {
    background: red;
}

.glider-contain {
    height: 70vh;
    position: relative;
    overflow: hidden;
}

.glider-slide {
    height: 100%;
}