@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: green;
}

h2{
    color: #0a0d0f;
}

h3 {
    color: red;
}


header{
}

footer {
    background: #0a0d0f;
    background-size: 50%;
}

#main-menu .active {
    background: red;
}