{% extends "_layout.twig" %}

{% set title = entry.title %}

{% block content %}
    <article>
        <h1>{{ entry.title }}</h1>

        {% set image = entry.featuredImage.one() %}
        {% if image %}
            <img src="{{ image.url }}" alt="{{ entry.title }}">
        {% endif %}

        {{ entry.body }}
    </article>
{% endblock %}