{% extends "_layout" %}
{% set title = entry %}

{% block content %}
    {{  include('partials/components/_headerSlider') }}

    <div class="container mx-auto">
    <div class="grid grid-cols-2 gap-4">
        <div>
            {% if entry.contentblocks is defined and entry.contentblocks|length %}
                {% include "partials/_contentblocks.twig" with { block: entry.contentblocks.all() } %}
            {% endif %}
        </div>

        <div class="contact-form" id="form-contact">
            {% switch craft.app.request.url %}
            {% case "/contact" %}
                {{ craft.freeform.form("contact", {
                    labelClass: "form-label",
                    inputClass: "form-control",
                    returnUrl: "{{ craft.config.get('siteUrl') }}contact/bevestiging",
                    instructionsBelowField: true,
                    overrideValues: {
                        hiddenFieldHandle: entry.id,
                    }
                }).render() }}
            {% endswitch %}
        </div>
    </div>
    </div>
{% endblock %}