{% do craft.app.response.statusCode(404) %}

{% extends "_layouts/main" %}

{% block content %}
    <h1>404 - Page Not Found</h1>
    <p>Sorry, the page you are looking for does not exist.</p>
    <a href="{{ siteUrl }}">Return to homepage</a>
{% endblock %}
