<div class="js-smooth-section page-ctatext">
    <div class="container">
        <div class="header-text">
            <h2>{{ block.heading|striptags|raw }}</h2>
            {{ block.body|raw }}
            <a class="ctatext-button" href="{{ block.ctaButton.url }}"><button>{{ block.ctaButton.title }}</button></a>
        </div>
    </div>
</div>