<div class="js-smooth-section page-ctatext">
    <div class="container">
        <div class="section-text">
            {{ block.text }}
            <a class="ctatext-button" href="{{ block.cta.url }}"><button>{{ block.cta.title }}</button></a>
        </div>
    </div>
</div>