{% set intro = craft.entries.section('intro').one() %}

{% if intro %}
    <div class="js-smooth-section page-ctatext" style="background:red;">
        <div class="container">
            <div class="section-text">
                {{ intro.body|raw }}

                {% set cta = intro.ctaButton ?? null %}
e
                {% if cta and cta.url ?? false and cta.text ?? false %}
                    <a class="ctatext-button" href="{{ cta.url }}">
                        <button>{{ cta.text }}</button>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
